Repository HRL-Laboratories/spinqick: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, docformatter, isort, check-json, check-toml, check-yaml

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: system
  require_serial: true

docformatter:
  name: docformatter
  description: Formats docstrings to follow PEP 257.
  entry: docformatter
  args:
  - -i
  language: system

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system
  args:
  - --filter-files

check-json:
  name: Check JSON
  description: This hook checks json files for parseable syntax.
  entry: check-json
  language: system

check-toml:
  name: Check Toml
  description: This hook checks toml files for parseable syntax.
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  description: This hook checks yaml files for parseable syntax.
  entry: check-yaml
  language: system
  args:
  - --unsafe

Added EO Qubit demo images
  demo_notebooks/07_coherent_eo_control.ipynb
  demo_notebooks/demo_data/1760728765_coursecal.png
  demo_notebooks/demo_data/1760730254_noneq_cell.png
  demo_notebooks/demo_data/1761160541_finecal.png
  demo_notebooks/demo_data/1761160541_finecal_2.png
  demo_notebooks/demo_data/1761593907_fingerprint.png
Due: none

Added white logo brackground
  docs/conf.py
  graphics/spinQICKv2_logo_nt.png
Due: black, docformatter, isort

Changed make_config to use environment variable for filter config location instead of data directory, updated logic branch in add_wf_filter to catch iir2 case
  src/spinqick/helper_functions/dac_pulses.py
  src/spinqick/make_config.py
  src/spinqick/settings.py
Due: black, docformatter, isort

incremented version and updated changelog
  CHANGELOG.md
  VERSION.txt
Due: none

Docs update
  .pre-commit-config.yaml
  demo_notebooks/00_make_configs.ipynb
  demo_notebooks/03_charge_stability.ipynb
  demo_notebooks/05_pauli_spin_blockade.ipynb
  demo_notebooks/06_coherent_ld_control.ipynb
  demo_notebooks/07_coherent_eo_control.ipynb
  dev_environment.yml
  docs/conf.py
  docs/developers_guide.rst
  docs/index.rst
  docs/requirements.in
  docs/requirements.txt
  setup.py
  src/spinqick/core/awg_pulse.py
  src/spinqick/core/dot_experiment.py
  src/spinqick/core/eo_pulses.py
  src/spinqick/core/readout_v2.py
  src/spinqick/core/spinqick_data.py
  src/spinqick/experiments/eo_analysis.py
  src/spinqick/experiments/eo_single_qubit.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/analysis.py
  src/spinqick/helper_functions/dac_pulses.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/helper_functions/hardware_manager.py
  src/spinqick/helper_functions/plot_tools.py
  src/spinqick/models/dcs_model.py
  src/spinqick/models/experiment_models.py
  src/spinqick/models/full_experiment_model.py
  src/spinqick/models/hardware_config_models.py
  src/spinqick/qick_code_v2/eo_single_qubit_programs_v2.py
  src/spinqick/qick_code_v2/ld_single_qubit_programs_v2.py
  src/spinqick/qick_code_v2/psb_setup_programs_v2.py
Due: black, docformatter, isort, check-yaml

-Changed make_config to use environment variable for filter config location instead of data directory -updated logic branch in add_wf_filter to catch iir2 case
  CHANGELOG.md
  VERSION.txt
  src/spinqick/helper_functions/dac_pulses.py
  src/spinqick/make_config.py
  src/spinqick/settings.py
Due: black, docformatter, isort

-Changed make_config to use environment variable for filter config location instead of data directory (#24)
  CHANGELOG.md
  VERSION.txt
  src/spinqick/helper_functions/dac_pulses.py
  src/spinqick/make_config.py
  src/spinqick/settings.py
Due: black, docformatter, isort

Updated changelog and version, ran pre-commit
  CHANGELOG.md
  VERSION.txt
  docs/developers_guide.rst
Due: none

Merged doc changes in changelog, reverted version to 2.0.4
  CHANGELOG.md
  VERSION.txt
Due: none

added filter_bank module and associated enums for filter types
  docs/_static/favicon.ico
  docs/conf.py
  docs/guides/filter_configuration.rst
  docs/index.rst
  graphics/fractional_delay_sweep_iir.gif
  graphics/spinQICK_favicon.png
  src/spinqick/core/awg_pulse.py
  src/spinqick/core/dot_experiment.py
  src/spinqick/helper_functions/dac_pulses.py
  src/spinqick/helper_functions/filter_bank.py
  src/spinqick/helper_functions/spinqick_enums.py
  src/spinqick/settings.py
Due: black, docformatter, isort

ran pre-commit tools
  src/spinqick/config/filter_config.json
  src/spinqick/helper_functions/filter_bank.py
  src/spinqick/helper_functions/spinqick_enums.py
Due: black, docformatter, isort, check-json

fixed merge conflict
  src/spinqick/helper_functions/dac_pulses.py
Due: black, docformatter, isort

updated filtering page rst
  docs/guides/filter_configuration.rst
Due: none

updated docs
  src/spinqick/helper_functions/filter_bank.py
Due: black, docformatter, isort

bug fix: default stdysel behavior in setup_pi_pulse and setup_1q_clifford changed to LAST from ZERO
  CHANGELOG.md
  VERSION.txt
  src/spinqick/core/eo_pulses.py
Due: black, docformatter, isort

bug fix: default stdysel behavior in setup_pi_pulse and setup_1q_clifford changed to LAST from ZERO (#28)
  CHANGELOG.md
  VERSION.txt
  src/spinqick/core/eo_pulses.py
Due: black, docformatter, isort

updated changelog and version
  CHANGELOG.md
  VERSION.txt
Due: none

22 waveform filtering update (#26)
  CHANGELOG.md
  VERSION.txt
  docs/_static/favicon.ico
  docs/conf.py
  docs/guides/filter_configuration.rst
  docs/index.rst
  graphics/fractional_delay_sweep_iir.gif
  graphics/spinQICK_favicon.png
  src/spinqick/config/filter_config.json
  src/spinqick/core/awg_pulse.py
  src/spinqick/core/dot_experiment.py
  src/spinqick/helper_functions/dac_pulses.py
  src/spinqick/helper_functions/filter_bank.py
  src/spinqick/helper_functions/spinqick_enums.py
  src/spinqick/settings.py
Due: black, docformatter, isort, check-json

bug fix: default stdysel behavior in setup_pi_pulse and setup_1q_clifford changed to LAST from ZERO (#28)
  CHANGELOG.md
  src/spinqick/core/eo_pulses.py
Due: black, docformatter, isort

refactored data backend to allow for modular backend support, qcodes backend added
  demo_notebooks/01_getting_started.ipynb
  docs/getting_started.rst
  docs/guides/custom_backends.rst
  docs/guides/data_backends.rst
  docs/index.rst
  src/spinqick/backends/__init__.py
  src/spinqick/backends/data_protocols.py
  src/spinqick/backends/netcdf4_backend.py
  src/spinqick/backends/qcodes_backend.py
  src/spinqick/core/dot_experiment.py
  src/spinqick/core/spinqick_data.py
  src/spinqick/experiments/eo_analysis.py
  src/spinqick/experiments/eo_single_qubit.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/analysis.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/helper_functions/plot_tools.py
Due: black, docformatter, isort

22 waveform filtering update (#26)
  CHANGELOG.md
  docs/_static/favicon.ico
  docs/conf.py
  docs/guides/filter_configuration.rst
  docs/index.rst
  graphics/fractional_delay_sweep_iir.gif
  graphics/spinQICK_favicon.png
  src/spinqick/config/filter_config.json
  src/spinqick/core/awg_pulse.py
  src/spinqick/core/dot_experiment.py
  src/spinqick/helper_functions/dac_pulses.py
  src/spinqick/helper_functions/filter_bank.py
  src/spinqick/helper_functions/spinqick_enums.py
  src/spinqick/settings.py
Due: black, docformatter, isort, check-json

29 data backend refactor (#30)
  demo_notebooks/01_getting_started.ipynb
  docs/getting_started.rst
  docs/guides/custom_backends.rst
  docs/guides/data_backends.rst
  docs/index.rst
  src/spinqick/backends/__init__.py
  src/spinqick/backends/data_protocols.py
  src/spinqick/backends/netcdf4_backend.py
  src/spinqick/backends/qcodes_backend.py
  src/spinqick/core/dot_experiment.py
  src/spinqick/core/spinqick_data.py
  src/spinqick/experiments/eo_analysis.py
  src/spinqick/experiments/eo_single_qubit.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/analysis.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/helper_functions/plot_tools.py
Due: black, docformatter, isort

updated changelog, version, and fixed link
  CHANGELOG.md
  VERSION.txt
  docs/guides/data_backends.rst
Due: none

Revert "29 data backend refactor (#30)"
  demo_notebooks/01_getting_started.ipynb
  docs/getting_started.rst
  docs/guides/custom_backends.rst
  docs/guides/data_backends.rst
  docs/index.rst
  src/spinqick/backends/__init__.py
  src/spinqick/backends/data_protocols.py
  src/spinqick/backends/netcdf4_backend.py
  src/spinqick/backends/qcodes_backend.py
  src/spinqick/core/dot_experiment.py
  src/spinqick/core/spinqick_data.py
  src/spinqick/experiments/eo_analysis.py
  src/spinqick/experiments/eo_single_qubit.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/analysis.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/helper_functions/plot_tools.py
Due: black, docformatter, isort

fixed version number for dev
  CHANGELOG.md
  VERSION.txt
Due: none

small doc and demo notebook changes
  demo_notebooks/00_make_configs.ipynb
  demo_notebooks/01_getting_started.ipynb
  docs/getting_started.rst
Due: none

formatting tweaks and version bump
  CHANGELOG.md
  VERSION.txt
  docs/getting_started.rst
Due: none

Cleaned up some text and added a link
  docs/getting_started.rst
Due: none

...fixed one last thing
  docs/getting_started.rst
Due: none

34 fix docs for spinqick setup (#35)
  CHANGELOG.md
  VERSION.txt
  demo_notebooks/00_make_configs.ipynb
  demo_notebooks/01_getting_started.ipynb
  docs/getting_started.rst
Due: none

chunky commit, hardware manager and charge noise
  demo_notebooks/01_getting_started.ipynb
  src/spinqick/core/readout_v2.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/analysis.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/helper_functions/hardware_manager.py
  src/spinqick/models/experiment_models.py
  src/spinqick/qick_code_v2/tune_electrostatics_programs_v2.py
Due: black, docformatter, isort

Path conditions:
  black: any of: \.py$
  docformatter: any of: \.py$
  isort: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: conda/meta.yaml
