Repository HRL-Laboratories/spinqick: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, docformatter, isort, check-json, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: black
        language: system
        require_serial: true
        types: [python]
      - id: docformatter
        name: docformatter
        description: 'Formats docstrings to follow PEP 257.'
        entry: docformatter
        args: [-i]
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types: [python]
        args: ['--filter-files']
      - id: check-merge-conflict
        name: Check for merge conflicts
        description: Check for files that contain merge conflict strings.
        entry: check-merge-conflict
        language: system
        types: [text]
      - id: check-json
        name: Check JSON
        description: This hook checks json files for parseable syntax.
        entry: check-json
        language: system
        types: [json]
      - id: check-toml
        name: Check Toml
        description: This hook checks toml files for parseable syntax.
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        description: This hook checks yaml files for parseable syntax.
        entry: check-yaml
        language: system
        types: [yaml]
        exclude: 'conda/meta.yaml'
        args: [--unsafe]
      - id: end-of-file-fixer
        name: Fix End of Files
        description: Ensures that a file is either empty, or ends with one newline.
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: mixed-line-ending
        name: Mixed line ending
        description: Replaces or checks mixed line ending
        entry: mixed-line-ending
        language: system
        types: [text]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        description: This hook trims trailing whitespace.
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

Create LICENSE
  LICENSE
Due: none

Added image folder and approved logo, fixed a few Readme spelling mistakes
  README.md
  graphics/SpinQICK_logo.svg
Due: none

Update README.md
  README.md
Due: none

Approved day-one patch
  dev_environment.yml
  setup.py
  src/spinqick/experiments/eo_single_qubit.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/helper_functions/hardware_manager.py
  src/spinqick/helper_functions/plot_tools.py
  src/spinqick/models/hardware_config_models.py
  src/spinqick/qick_code/eo_single_qubit_programs.py
  src/spinqick/qick_code/ld_single_qubit_programs.py
  src/spinqick/qick_code/measure_noise_programs.py
  src/spinqick/qick_code/psb_setup_programs.py
  src/spinqick/qick_code/readout.py
  src/spinqick/qick_code/spin_averager.py
  src/spinqick/qick_code/system_calibrations_programs.py
  src/spinqick/qick_code/tune_electrostatics_programs.py
Due: black, docformatter, isort, check-yaml

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update VERSION.txt
  VERSION.txt
Due: none

day one patch (#3)
  CHANGELOG.md
  VERSION.txt
  dev_environment.yml
  setup.py
  src/spinqick/experiments/eo_single_qubit.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/helper_functions/hardware_manager.py
  src/spinqick/helper_functions/plot_tools.py
  src/spinqick/models/hardware_config_models.py
  src/spinqick/qick_code/eo_single_qubit_programs.py
  src/spinqick/qick_code/ld_single_qubit_programs.py
  src/spinqick/qick_code/measure_noise_programs.py
  src/spinqick/qick_code/psb_setup_programs.py
  src/spinqick/qick_code/readout.py
  src/spinqick/qick_code/spin_averager.py
  src/spinqick/qick_code/system_calibrations_programs.py
  src/spinqick/qick_code/tune_electrostatics_programs.py
Due: black, docformatter, isort, check-yaml

2 readme edits add logos (#4)
  README.md
  graphics/SpinQICK_logo.svg
Due: none

ensured variable names are snake_case and converted most dict keys to snake_case as well
  .pylintrc
  demo_notebooks/00_getting_started.ipynb
  src/spinqick/experiments/dot_experiment.py
  src/spinqick/experiments/eo_single_qubit.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/models/config_models.py
  src/spinqick/models/hardware_config_models.py
  src/spinqick/qick_code/eo_single_qubit_programs.py
  src/spinqick/qick_code/ld_single_qubit_programs.py
  src/spinqick/qick_code/measure_noise_programs.py
  src/spinqick/qick_code/psb_setup_programs.py
  src/spinqick/qick_code/readout.py
  src/spinqick/qick_code/spin_averager.py
  src/spinqick/qick_code/system_calibrations_programs.py
  src/spinqick/qick_code/tune_electrostatics_programs.py
Due: black, docformatter, isort

update changelog and version
  CHANGELOG.md
  VERSION.txt
Due: none

fixed camelcase variable names (#9)
  .pylintrc
  CHANGELOG.md
  VERSION.txt
  demo_notebooks/00_getting_started.ipynb
  src/spinqick/experiments/dot_experiment.py
  src/spinqick/experiments/eo_single_qubit.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/models/config_models.py
  src/spinqick/models/hardware_config_models.py
  src/spinqick/qick_code/eo_single_qubit_programs.py
  src/spinqick/qick_code/ld_single_qubit_programs.py
  src/spinqick/qick_code/measure_noise_programs.py
  src/spinqick/qick_code/psb_setup_programs.py
  src/spinqick/qick_code/readout.py
  src/spinqick/qick_code/spin_averager.py
  src/spinqick/qick_code/system_calibrations_programs.py
  src/spinqick/qick_code/tune_electrostatics_programs.py
Due: black, docformatter, isort

Documentation and formatting edits
  .pylintrc
  src/spinqick/experiments/dot_experiment.py
  src/spinqick/experiments/eo_single_qubit.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/dac_pulses.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/helper_functions/hardware_manager.py
  src/spinqick/helper_functions/plot_tools.py
  src/spinqick/qick_code/ld_single_qubit_programs.py
  src/spinqick/qick_code/measure_noise_programs.py
  src/spinqick/qick_code/psb_setup_programs.py
  src/spinqick/qick_code/qick_utils.py
  src/spinqick/qick_code/readout.py
  src/spinqick/qick_code/spin_averager.py
  src/spinqick/settings.py
Due: black, docformatter, isort

updating changelog and version
  CHANGELOG.md
  VERSION.txt
Due: none

Documentation improvement, fix formatting errors (#12)
  .pylintrc
  CHANGELOG.md
  VERSION.txt
  src/spinqick/experiments/dot_experiment.py
  src/spinqick/experiments/eo_single_qubit.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/dac_pulses.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/helper_functions/hardware_manager.py
  src/spinqick/helper_functions/plot_tools.py
  src/spinqick/qick_code/ld_single_qubit_programs.py
  src/spinqick/qick_code/measure_noise_programs.py
  src/spinqick/qick_code/psb_setup_programs.py
  src/spinqick/qick_code/qick_utils.py
  src/spinqick/qick_code/readout.py
  src/spinqick/qick_code/spin_averager.py
  src/spinqick/settings.py
Due: black, docformatter, isort

added readthedocs files
  .readthedocs.yaml
  docs/requirements.in
  docs/requirements.txt
Due: check-yaml

formatting
  .readthedocs.yaml
  docs/requirements.in
  src/spinqick/core/awg_pulse.py
  src/spinqick/core/dot_experiment.py
  src/spinqick/core/eo_pulses.py
  src/spinqick/core/readout_v2.py
  src/spinqick/core/spinqick_data.py
  src/spinqick/experiments/eo_analysis.py
  src/spinqick/experiments/eo_single_qubit.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/system_calibrations.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/analysis.py
  src/spinqick/helper_functions/dac_pulses.py
  src/spinqick/helper_functions/file_manager.py
  src/spinqick/helper_functions/hardware_manager.py
  src/spinqick/helper_functions/plot_tools.py
  src/spinqick/models/dcs_model.py
  src/spinqick/models/experiment_models.py
  src/spinqick/models/full_experiment_model.py
  src/spinqick/models/hardware_config_models.py
  src/spinqick/qick_code_v2/eo_single_qubit_programs_v2.py
  src/spinqick/qick_code_v2/ld_single_qubit_programs_v2.py
  src/spinqick/qick_code_v2/psb_setup_programs_v2.py
Due: black, docformatter, isort, check-yaml

updated changelog and version
  CHANGELOG.md
  VERSION.txt
Due: none

requirements edits for docs build
  docs/requirements.in
  docs/requirements.txt
Due: none

fixing formatting errors
  CHANGELOG.md
  VERSION.txt
  docs/conf.py
  docs/getting_started.rst
  docs/requirements.in
  docs/requirements.txt
  graphics/spinQICK_setup.png
Due: black, docformatter, isort

edited readme to include read the docs link
  README.md
Due: none

Edited demo notebooks
  demo_notebooks/00_getting_started.ipynb
  demo_notebooks/01_dc_voltage_source_setup.ipynb
  demo_notebooks/02_charge_stability.ipynb
  demo_notebooks/04_pauli_spin_blockade.ipynb
  demo_notebooks/05_coherent_ld_control.ipynb
  demo_notebooks/06_coherent_eo_control.ipynb
  src/spinqick/experiments/tune_electrostatics.py
Due: black, docformatter, isort

Updated the spam sequence to include plot showing time and voltage sequence
  demo_notebooks/04_pauli_spin_blockade.ipynb
  demo_notebooks/demo_figures/SPAM_sequence.png
Due: none

Fixed some text
  demo_notebooks/04_pauli_spin_blockade.ipynb
Due: none

Added config heirarchy diagram to the getting started notebook.
  demo_notebooks/00_getting_started.ipynb
  demo_notebooks/04_pauli_spin_blockade.ipynb
  demo_notebooks/demo_figures/Config_heirarchy.png
Due: none

wording clearnup
  demo_notebooks/00_getting_started.ipynb
Due: none

small edits and formatting
  demo_notebooks/00_getting_started.ipynb
  demo_notebooks/01_dc_voltage_source_setup.ipynb
  src/spinqick/experiments/tune_electrostatics.py
Due: black, docformatter, isort

fixed automated config generation and reworked settings.py
  demo_notebooks/00_make_configs.ipynb
  demo_notebooks/01_getting_started.ipynb
  demo_notebooks/02_dc_voltage_source_setup.ipynb
  demo_notebooks/03_charge_stability.ipynb
  demo_notebooks/04_crosstalk_compensation.ipynb
  demo_notebooks/05_pauli_spin_blockade.ipynb
  demo_notebooks/06_coherent_ld_control.ipynb
  demo_notebooks/07_coherent_eo_control.ipynb
  dev_environment.yml
  environment.yml
  setup.py
  src/spinqick/config/experiment_config.json
  src/spinqick/config/hardware_config.json
  src/spinqick/config/settings.yaml
  src/spinqick/core/dot_experiment.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/hardware_manager.py
  src/spinqick/helper_functions/spinqick_enums.py
  src/spinqick/helper_functions/xtalk.py
  src/spinqick/make_config.py
  src/spinqick/models/experiment_models.py
  src/spinqick/models/hardware_config_models.py
  src/spinqick/models/qubit_models.py
  src/spinqick/models/spam_models.py
  src/spinqick/settings.py
Due: black, docformatter, isort, check-json, check-yaml

tweaking make_config notebook adn adding make_config details to docs
  demo_notebooks/00_make_configs.ipynb
  docs/getting_started.rst
Due: none

Minor word changing
  demo_notebooks/01_getting_started.ipynb
Due: none

updated changelog, renamed make_default_filesettings
  CHANGELOG.md
  demo_notebooks/00_make_configs.ipynb
  src/spinqick/make_config.py
Due: black, docformatter, isort

Changing file_settings to utilize env vars, updating docs and notebooks
  demo_notebooks/00_make_configs.ipynb
  demo_notebooks/02_dc_voltage_source_setup.ipynb
  demo_notebooks/03_charge_stability.ipynb
  demo_notebooks/04_crosstalk_compensation.ipynb
  demo_notebooks/05_pauli_spin_blockade.ipynb
  demo_notebooks/06_coherent_ld_control.ipynb
  demo_notebooks/07_coherent_eo_control.ipynb
  docs/getting_started.rst
  src/spinqick/config/filter_config.json
  src/spinqick/config/settings.yaml
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/make_config.py
  src/spinqick/models/hardware_config_models.py
  src/spinqick/settings.py
Due: black, docformatter, isort, check-json, check-yaml

small update to docs
  docs/getting_started.rst
Due: none

Added defaults to file_settings
  demo_notebooks/00_make_configs.ipynb
  src/spinqick/settings.py
Due: black, docformatter, isort

spinqick setup, read the docs and demo notebook updates (#18)
  CHANGELOG.md
  README.md
  VERSION.txt
  demo_notebooks/00_make_configs.ipynb
  demo_notebooks/01_getting_started.ipynb
  demo_notebooks/02_dc_voltage_source_setup.ipynb
  demo_notebooks/03_charge_stability.ipynb
  demo_notebooks/04_crosstalk_compensation.ipynb
  demo_notebooks/05_pauli_spin_blockade.ipynb
  demo_notebooks/06_coherent_ld_control.ipynb
  demo_notebooks/07_coherent_eo_control.ipynb
  demo_notebooks/demo_figures/Config_heirarchy.png
  demo_notebooks/demo_figures/SPAM_sequence.png
  dev_environment.yml
  docs/conf.py
  docs/getting_started.rst
  docs/requirements.in
  docs/requirements.txt
  environment.yml
  graphics/spinQICK_setup.png
  setup.py
  src/spinqick/config/experiment_config.json
  src/spinqick/config/filter_config.json
  src/spinqick/config/hardware_config.json
  src/spinqick/core/dot_experiment.py
  src/spinqick/experiments/ld_single_qubit.py
  src/spinqick/experiments/measure_noise.py
  src/spinqick/experiments/psb_setup.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/helper_functions/hardware_manager.py
  src/spinqick/helper_functions/spinqick_enums.py
  src/spinqick/helper_functions/xtalk.py
  src/spinqick/make_config.py
  src/spinqick/models/experiment_models.py
  src/spinqick/models/hardware_config_models.py
  src/spinqick/models/qubit_models.py
  src/spinqick/models/spam_models.py
  src/spinqick/settings.py
Due: black, docformatter, isort, check-json, check-yaml

added quack sweep experiment and demo notebook
  demo_notebooks/08_quack.ipynb
  src/spinqick/core/readout_v2.py
  src/spinqick/experiments/tune_electrostatics.py
  src/spinqick/models/experiment_models.py
  src/spinqick/qick_code_v2/tune_electrostatics_programs_v2.py
Due: black, docformatter, isort
